@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

* {
    font-family: "Karla", "Helvetica Neue", helvetica, arial, sans-serif;
}

.header {
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/cropped-LiquidityChange.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(50%) blur(0px);
    z-index: -1;
}

.header-top {
    background-color: #29292a;
    color: #fff;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

.wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    max-width: calc(1200px - 1em);
    padding-left: 2em;
    padding-right: 2em;
}

.header-top .wrap {
    padding: 0;
}

#masthead .wrap {
    position: relative;
}

.main-navigation {
    clear: both;
    display: block;
}

/* .main-navigation+.site-top-content {
    padding-top: 0;
} */

.site-top-content {
    line-height: 1.5;
    padding: 0.75em 1.5em;
}

.site-info {
    background-color: #222;
    color: #fff;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}

.site-info .wrap {
    visibility: hidden;
    padding-bottom: 1.5em;
    padding-top: 1.5em;
}

.site-info a,
.site-info:visited {
    color: #fff;
    text-decoration: none;
}

.site-info .sep {
    visibility: hidden;
}

.lodestar-intro {
    margin-bottom: 0;
    padding: 1.5em 0;
}

.lodestar-intro .entry-content {
    color: #555;
    font-size: 20px;
    font-size: 1.25rem;
    text-align: center;
}

p {
    margin: 0 0 1.5em;
    padding: 0;
}

.lodestar-intro .entry-content *:last-child {
    margin-bottom: 0;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: auto;
    max-width: 100%;
    border: 0;
}

.menu-toggle {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: none;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    margin: 1em 0;
    padding: 0.5em 1.0em;
    text-shadow: none;
}

/* Responsive */
@media screen and (min-width: 60em) {
    .header-top {
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 3;
        transition: transform 0.2s;
    }

    .header-top .wrap {
        padding: 1em;
    }

    .header-top .wrap {
        display: table;
        display: flex;
        justify-content: flex-end;
    }

    .main-navigation {
        width: auto;
    }

    .has-top-content .main-navigation {
        width: 65%;
    }

    .site-top-content,
    .main-navigation {
        display: table-cell;
    }

    .site-top-content {
        width: 35%;
        padding: 1em 0 1em 2em;
        text-align: right;
    }

    .has-top-content .site-top-content {
        display: table-cell;
    }

    .has-top-content .site-top-content,
    .has-top-content .main-navigation+.site-top-content {
        width: 35%;
        padding: 1em 0 1em 2em;
        text-align: right;
    }

    .site-info .wrap {
        padding-bottom: 2.5em;
        padding-top: 2.5em;
    }

    .site-info .wrap .sep {
        margin: 0 0.5em;
        display: inline;
        visibility: visible;
        height: auto;
        width: auto;
    }

    .lodestar-intro {
        padding: 4em 0;
    }

    .lodestar-intro .entry-content {
        font-size: 30px;
        font-size: 1.875rem;
    }

    .main-navigation {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .desc {
        font-size: 20px !important;
    }

    .main-navigation+.site-top-content {
        padding-top: 0;
    }

    button {
        border: 0;
        border-radius: 0;
        background: #29292a;
        box-shadow: none;
        color: #fff;
        font-size: 14px;
        font-size: 0.875rem;
        letter-spacing: 0.05em;
        line-height: 1;
        padding: 1em 1.5em;
        text-shadow: none;
        text-transform: uppercase;
        transition: background 0.2s;
    }
}